<br/>

<p>
Georgia State University<br/>
GSU Onboarding<br/>
Human Resources Administration<br/>
<a href="mailto:{{ email.from[0].address }}">{{ email.from[0].address }}</a>
<img src="https://learningtools.gsu.edu/notify/?t={{ notification.id }}"/>
</p>
